.main-container {
    display: flex;
    
    width: 100vw;
    height: 100vh;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 11rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButtons{
    background-color: #eeeeee;
    font-weight: bold;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
}

.activeButton {
   
    color: rgb(15, 15, 15);
    border-style: solid;
    border-color: #000000;
    
}

.inactiveButton {
    color: rgb(126, 126, 126);
    border-color: #000000;

}

.form_element {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prompt {
    font-size: 115%;
}

.style-wrapper{
    width: fit-content;
    height: fit-content;

    background-color: #747474;
    border-radius: 10px;

    padding: 0.5em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
}

.inactive {
    visibility: hidden;
}

.clickedButton{
    background-color: #747474;
    color: #eeeeee;
    border-color: #eeeeee;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
