.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: #747474;
    color: green;
}

.inactive {
    background-color: #747474;
    color: lightgray;
}

.submit_button {
    background-color: #747474;
    color: lightgray;
    display: flex;
    justify-content: center;
}

.attributes_active {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.attributes_inactive {
    visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt {
    font-size: 115%;
}

.form_submit_inactive {
    visibility: hidden;
}

.code_submit_active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code_submit_inactive {
    visibility: hidden;
}

