
.GenContainers {
    display: flex;
    background:#6baabe;
    width: 100%;
    margin-top: 10px;
}

.editorStyle{
    margin-Top: 5%;
    width: 800px;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    max-height: contain-content;
    margin-left: 23%;
    background: #fefefe;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

.main {
    width: 825px;
    height:100%;
    min-height: 100px;
}
.column{    
    width: 800px;
}

.GenHeader{
    width: 100%;
    text-align: center;
}

