.editor_left{
    position: fixed;
    left: 0;
    width:200px;
    height: 100%;
    
    background-color: #F9FAFB;
    padding-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

h1 {
    margin: 0;
}

.flexy {
    border-width: 1px;
    border: 1px solid #2b2b2b;
    border-radius: 5%;
}

.textContainer{
    font-size: large;
    margin-bottom: .5rem;
    border: #353535;
    border-width: 1px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.hoverSelector{
    transition: filter 300ms;
}

.hoverSelector:hover {
    filter:brightness(0.5);
    background-color: #ffffff;

}

