.container {
    display: flex;
    min-width: 220px;
    width: 35%;
    align-items: center;
}

.Search {
    height: 35px;
    width: 100%;
    border-radius: 0px 4px 4px 0px;
    padding: 0;
    margin: 0;
    border-left: none;
    border-top: none;
    border-color: #93989c;
    padding-left: 5px;
    font-size:large;

  }

    .Search:focus{
        outline: none;
    }

.dropdown {
    padding: 0;
    margin: 0;
    height: 37px;
    width: 55px;
    border-radius: 4px 0px 0px 4px;
    border-color: aliceblue;
    border-right: none;

    cursor: pointer;
}

.arrow {
   background-repeat: no-repeat;
}

