
/*User button that you can click for the dropdown*/
.UserButton {
    position: static;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    background-image: url(../IMAGES/Profile.png);
    cursor: pointer;
    background-position: center;
    background-size: contain;

    
}

/*this is to sepearate between userbutton in navbar and userbutton in dropdown*/
.header{
    transition: filter 300ms;
}


.left {
    margin-right: 10px;
}

.header:hover {
    filter: brightness(1.2);
}



/*Dropdown container*/
.dropdown {
    position: absolute;
    top:48px;
    right: -142px;
    width: 300px;
    transform: translateX(-45%);
    background-color: #202020;
    border:#464545;
    border-radius:  8px;
    padding: 1rem;
    overflow: hidden;
    z-index: 100;
}


/*holds menu name and pictures*/
.menu-item {
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 8px;
    transition: background 500ms;
    padding: 0.5rem;

}

.menu-item:hover{
    background-color: #464545;
}


/*icons in the menu*/
.icon-right {
    margin-left: auto;
}


.icon-button image {
    fill:#464545;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding-right: 10px;
}
